
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.app{
background-image: url(../public/background_image.jpeg) ;
display:flex;
flex-direction: column;
align-items: center;
background-repeat: no-repeat;
background-size: cover;

}



#profile_img{
  border-radius: 150px;
  height: 160px;
  width: 160px;
}

.profile{
  text-align: center;
}

#twitter{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  font-size: 18px;
  
}

#slack{
  visibility: hidden;
}

#btn_zuri{
    
    background:  #d1a916;
    color: #0c0c0e;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 50px;
    padding: 10px 10px 10px 10px;
    margin: 20px 20px 20px 20px;
    width: 500px;
    cursor: pointer;

}

#books
{
  background: #d1a916;
  color: #0c0c0e;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  border-radius: 50px;
  font-size: 18px;
  padding: 10px 10px 10px 10px;
  margin: 20px 20px 20px 20px;
  width: 500px;
  cursor: pointer;
  box-shadow: 3px 10px black ;

}

#book_python{
  background: #d1a916;
  color: #0c0c0e;
  font-family:  Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  border-radius: 50px;
  font-size: 18px;
  padding: 10px 10px 10px 10px;
  margin: 20px 20px 20px 20px;
  width: 500px;
  cursor: pointer;


}
#pitch{
  background: #d1a916;
  color:#0c0c0e;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 50px;
  padding: 10px 10px 10px 10px;
  margin: 20px 20px 20px 20px;
  width: 500px;
  cursor: pointer;
}

#book_design{
  background:  #d1a916;;
  color:#0c0c0e;
  font-family:  Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 50px;
  padding: 10px 10px 10px 10px;
  margin: 20px 20px 20px 20px;
   width: 500px;
   cursor: pointer;
  
}
#book_design:hover{
  background-color: blue;
  transition: ;
}

